.box {
  min-height: 80%;
  width: 90%;
  font-family: var(--mono);
  font-weight: bold;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}

.table {
  font-size: 0.8rem;
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  max-height: 100%;
  overflow-y: auto;
}

.card {
  display: flex;
  width: 100%;
  border: 1px solid var(--shadow);
  text-align: center;
}

.item {
  background-color: var(--table-bg);
  padding: 3px 0;
  padding-left: 0.8em;
  flex: 1;
  min-width: 0;
}

.card:nth-child(even) .item {
  background: var(--border);
}
